.viewer-container {
  display: flex;
  position: relative; 
  justify-content: center;
  align-items: center;
  width: 60vw; /* Adjust based on preference */
  height: 60vh; /* Adjust based on preference */
  margin: auto; /* Center in the available space */
  background: #f5f5f5; /* Softer background color */
  border: 1px solid #ddd; /* Add a border for definition */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds depth with a shadow */
}
.viewer-buttons {
  position: absolute;
  top: 10px;
  left: 10px; /* Adjust if you want the buttons to be on the left */
  z-index: 10; /* Ensure the buttons are above the canvas layer */
}

.viewer-button {
  /* Other button styles remain the same */
  margin-right: 10px; /* Add margin if you want some space between the buttons */
}
